/**
 * Fonts
 */

@mixin embed-font($font-name, $font-filepath-and-name, $font-weight){
    @font-face {
        font-family: $font-name;
        src: url(asset_path("#{$font-filepath-and-name}.eot")); /* IE9 Compat Modes */
        src: url(asset_path("#{$font-filepath-and-name}.eot?#iefix")) format('embedded-opentype'), /* IE6-IE8 */
            url(asset_path("#{$font-filepath-and-name}.woff")) format('woff'), /* Modern Browsers */
            url(asset_path("#{$font-filepath-and-name}.ttf")) format('truetype'), /* Safari, Android, iOS */
            url(asset_path("#{$font-filepath-and-name}.svg#svgFontName")) format('svg'); /* Legacy iOS */
        font-weight: $font-weight;
        font-style: normal;
    }
}

@include embed-font('apercu_mono', 'apercu/apercu_mono-webfont-webfont', 'normal');
